/**************************************************************/
/************************contact us****************************/
/**************************************************************/
body{
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: Arial;
	text-align: center;
	background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/booking.jpg);
	background-repeat: no-repeat;
}
header{
	height: 100px;
	background: #333;
	opacity: 85%;
	width: 100%;
	z-index: 12;
	position: fixed;
}
.logo{
	width: 28%;
	float: left;
	line-height: 100px;
	margin-left: 30px;
}
nav{
	float: right;
	line-height: 100px;
	overflow: hidden;
	padding-right: 80px;
}
nav a{
	text-decoration: none;
	margin:0 10px;
	color: #fff;
	font-size: 17px;
	margin-left: 30px;
	padding: 4px;
}
nav a:hover{
	color: #000;
	background:#939393;
	border-radius: 20px;
}
nav .active{
	color: #000;
	background:#939393;
	border-radius: 20px;
}
nav i{
	padding-left: 10px;
}
.title{
	margin-top: 100px;
	color: #fff;
}
.title h1{
	font-size: 32px;
	line-height: 10px;
	letter-spacing: 2px;
}
.title h2{
	font-size: 16px;
	letter-spacing: 2px;
}
form{
	margin-top: 50px;
	margin-left: 310px;
}
.form-control{
	width: 700px;
	background:transparent;
	border: 1px solid #fff;
	outline: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}
input{
	height: 45px;
}
input::placeholder { 
  color: #fff;
  opacity: 80%;
  padding-left: 10px;
}
.form textarea::placeholder { 
  	color: #000;
 	opacity: 80%;
 	padding-left: 10px;
}
form .submit{
	background-color: #ff5722;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	transition: 0.4s ease;
}
form .submit:hover{
	background-color: #f44336;
	cursor: pointer;
}
.subscribe4{
	position: relative;
	top: 215%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:transparent;
	outline: none;
}
.subscribe4 h1{
	color: #fff;
	font-size: 30px;
	text-align: center;
	letter-spacing: 2px;
	margin-top: 40px;
}
.form5{
	position: absolute;
	left: 24%;
	margin-top: -50px;
}
.form5 textarea::placeholder{
	color: gray;
	padding-top: 10px;
	padding-left: 10px;
}
footer{
	background-color: #444444;
	color: #fff;
	width: 100%;
	text-align:left;
}
.bottomleft{
	display: inline-block;
	vertical-align: top;
	width: 20%;
}
.bottomnav{
	margin-top: 10px;
	overflow: hidden;
	font-size: 16px;
}
.bottomnav li{
	list-style: none;
}
.bottomnav li a{
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 10px;
}
.bottomleft span{
	display: block;
	margin: 0;
	font-size: 18px;
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bottomcenter{
	display: inline-block;
	vertical-align: top;
	width: 35%;
	margin-left: 90px;
}
.bottomcenter span{
	display: block;
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.icons{
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 25px;
	font-weight: bold;
}
.icons a{
	display: inline-block;
	width: 40px;
	height: 40px;
	color: #fff;
	margin-left: 60px;
}
.bottomright{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	float: right;
}
.bottomright span{
	display: block;
	margin: 0;
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bottomright i{
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
	text-align: center;
}
.bottomright p{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	font-size: 16px;
}
.bottomright p a{
	text-decoration: none;
	color: #fff;
}
.Copyright{
	font-size: 12px;
	font-weight: normal;
	margin:0;
	text-align: center;
	margin-left: 250px;
}